body {
	background-color: skyblue;
	margin-left: 300px;
	margin-right: 300px;
}

h3 {
	padding-left: 15px;
}

#form {
	background-color: #1570A1;
	color: #FFFFFF;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-width: 30px;
	border: #FFFFFF;
	border-style: solid;
}
.LableStijl {
	padding-left: 15px;
	padding-right: 0px;
}

.LeftMargin {
	margin-left: 15px;
	margin-right: 0px;
}